{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
 <li class="breadcrumb-item active">Contact information</li>
{% endblock %}

{%block content%}

	<h1>Contact</h1>

	<p>
		<strong>Address :</strong><br>
		Chittagong University Laboratory School,<br>
		Near 2 no gate,University Of Chittagong.

	</p>
	<p>
		<strong>Phone: </strong><br>
		880174*******
	</p>

	<p align="center">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.6533929115053!2d91.79158081478379!3d22.479655742041395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acd7fe67d74e73%3A0xdf48646b3bc9aefe!2sChittagong%20University%20Laboratory%20School!5e0!3m2!1sen!2sbd!4v1578496656850!5m2!1sen!2sbd" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</p>
{%endblock%}