{% extends 'base.html' %}

{%block stylesheet%}
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
  .fa-anchor,.fa-coffee {font-size:200px}
  .mySlides {display:none}
  .w3-left, .w3-right, .w3-badge {cursor:pointer}
  .w3-badge {height:13px;width:13px;padding:0}
  </style>
{%endblock%}


{%block content%}
<body>

<!-- Header -->
  <header class="w3-container w3-gray w3-center" style="padding:32px 6px">
   <h2>Chittagong University School & College</h2>
    <div class="w3-content w3-section" style="max-width:750px">
      <img class="mySlides" src="https://scontent.fcgp3-1.fna.fbcdn.net/v/t1.0-9/81288160_2406332692917552_7255695339275943936_n.jpg?_nc_cat=108&_nc_ohc=Spj-rlRVZdIAX84_cd-&_nc_ht=scontent.fcgp3-1.fna&oh=764aaf3c27715cf40522f72b5d0d123f&oe=5E971A82" style="width:100%">
      <img class="mySlides" src="https://scontent.fcgp3-1.fna.fbcdn.net/v/t1.0-9/42846263_2110889975795160_3192452841839001600_o.jpg?_nc_cat=107&_nc_ohc=ut9sPJrTimkAX8iDMd4&_nc_ht=scontent.fcgp3-1.fna&oh=a2ca5dd3e7129c56c57ae8ce7c0f47d9&oe=5EA598F1" style="width:100%">
      <img class="mySlides" src="https://scontent.fcgp3-1.fna.fbcdn.net/v/t31.0-8/p720x720/25587779_1944198315797661_1336337407185801776_o.jpg?_nc_cat=102&_nc_ohc=ST7zyevhkIAAX8Mz1QL&_nc_ht=scontent.fcgp3-1.fna&_nc_tp=1&oh=ac94139f8a38ded18eb0674d9c96c9a5&oe=5EAE0959" style="width:100%">
    </div>

  </header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Chittagong University School & College</h1>
      <h5 class="w3-padding-32">Chittagong University School & College is an academic institute located at Jobra Hathazari Chittagong. Its institute code (EIIN) is 104468. It was established in 01 Jan, 1970. The institute has following 3 disciplines : Business Studies, Science, Humanities. Average exam passing rate of the institute is : JSC/Equivalent: 95.19%, SSC/Equivalent: 95.19%, HSC/Equivalent: 95.19%. It has Day shift. Its management is Governing body.  </h5>

      <p class="w3-text-grey">Basic Info :<br>
        Institute: Chittagong University School & College<br>
        EIIN: 104468<br>
        Founded: 01 January, 1970<br>
        Board: Chittagong Education Board<br>
        Disciplines: Business Studies | Science | Humanities<br>
        Type: Higher Secondary<br>
        MPO Label: Higher Secondary<br>
        Shift: Day<br>
        Management: Governing body<br>
        Region: Grameen<br>
        Location: Hilly region<br>
        Version: Bangla
      </p>
    </div>

    <div class="w3-third w3-center">
      <img src="https://scontent.fcgp3-1.fna.fbcdn.net/v/t1.0-0/c3.0.200.200a/p200x200/66707559_2274894972727992_1765093935018934272_n.jpg?_nc_cat=111&_nc_ohc=Q77rT-dAVsgAX-Wjvty&_nc_ht=scontent.fcgp3-1.fna&_nc_tp=1&oh=f954afc2ff841d31a3a4cfb0bca15d14&oe=5E98034F" height="245.54" width="327.97">
    </div>
  </div>
</div>

<!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i>
        	<img src="https://scontent.fcgp3-1.fna.fbcdn.net/v/t1.0-0/p200x200/22196321_1911821972368629_67600433092967277_n.jpg?_nc_cat=107&_nc_ohc=kCGFdpvI37AAX8BCzaZ&_nc_ht=scontent.fcgp3-1.fna&_nc_tp=1&oh=334a777a5ef198a73e61fdad8b3d85c3&oe=5E9168BE" height="214.29" width="300.97">
        </i>
      </div>

      <div class="w3-twothird">
        <h1>Chittagong University School & College</h1>
        <h5 class="w3-padding-32">Chittagong University College (CUC) (Bengali: চট্টগ্রাম বিশ্ববিদ্যালয় কলেজ) is an institute for primary, secondary and higher secondary education in Chittagong, Bangladesh. It is located in the campus of University of Chittagong and is run by the university.[1] The junior section of the college covers primary and secondary curriculum and is commonly known as Chittagong University School. The senior section provides higher secondary education. Enrollment into the institute is mainly reserved for the children and dependents of the faculty and staff of Chittagong University. It also offers some enrollments for the children of the permanent residents of Fatehpur Union. The college has a strong record of success in academic, co-curricular and extra-curricular activities. It has produced a number of notable alumni.</h5>

        <p class="w3-text-grey">School type	Semi-Government Primary, Secondary, Higher Secondary
          Established	1974
          School board	Chittagong
          School district	Chittagong
          Principal	Fazlul Haque
          Teaching staff	57
          Grades	12
          Gender	Male, Female
          Enrolment	About 1500
          Classes	01-12
          Education system	SSC, HSC
          Language	Bangla
          Hours in school day	9am-3pm
          Classrooms	Approx 30
          Campus	I I shaped campus with sandy field in the middle
          Campus type	Calm, Beautiful
          Color(s)	White and Navy Blue
          Publication	Kakoli
        </p>
      </div>
    </div>
  </div>

  <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
      <h1 class="w3-margin w3-xlarge">“Education is the most powerful weapon which you can use to change the world.”<br>
  ― Nelson Mandela</h1>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
    <div class="w3-xlarge w3-padding-32">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
   </div>
  </footer>

  <script>
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
  }
  </script>
</body>
{%endblock%}