{% extends 'base.html' %}

{% block title %}Show Applicants{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">My School</a></li>
  <li class="breadcrumb-item"><a href="#">Application</a></li>
  <li class="breadcrumb-item active">Fill up the form</li>
{% endblock %}

{% block content %}
	{%for ap in applicator%}
		<p>{{ap.name}}</p>
		<p>{{ap.birthdate}}</p>
		<p>{{ap.religion}}</p>
		<p>{{ap.id}}</p>
		<p><img src="{{ap.image.url}}" width="200" height="200"></p>
	{%endfor%}
{% endblock %}